aiohttp==3.7.3 
appdirs==1.4.4 
astroid==2.4.2 
async-timeout==3.0.1 
attrs==20.3.0 
Babel==2.9.0 
bcrypt==3.1.7 
beautifulsoup4==4.9.3 
blinker==1.4 
cchardet==2.1.7 
certifi==2020.12.5 
chardet==4.0.0 
click==7.1.2 
colorama==0.4.3 
cryptography==3.0 
dbus-python==1.2.16 
zipp==1.0.0
