[Unit]
  Description=Smart test
 
[Service]
  ExecStart=/home/asus/Desktop/pprogramistbot/venv/bin/python3.9 -u /home/asus/Desktop/pprogramistbot/test.py
  Type=idle
  KillMode=process
 
  SyslogIdentifier=smart-test
  SyslogFacility=daemon
 
  Restart=on-failure
 
[Install]
  WantedBy=multiuser.target